---
import "../styles/global.css";
import '@fontsource/acme';
---

<div>
    <a class="text-white border-2 border-white backdrop-blur-md rounded font-medium px-12 py-2
    hover:bg-white hover:text-black transition duration-300 ease-in-out" 
    href="#">Prueba de conduccion</a>
</div>
