---
import Section from "./Section.astro";
---

<Section
  title="Disfrute de su nuevo carro peresonalizado"
  subtitle="Llame ya!"
  color="white"
>
  <div slot="footer">
    <a
      class={`text-white border-2 border-white backdrop-blur-md rounded font-medium px-12 py-2
                hover:bg-white hover:text-black transition duration-300 ease-in-out`}
      href="#">Prueba de conduccion</a
    >
  </div>
  <video
    slot="background"
    class="object-cover w-full h-full"
    autoplay
    muted
    loop
    src="public_video.webm"></video>
</Section>
