---
import "../styles/global.css";
import '@fontsource/acme';
import LandingHeader from "../components/LandingHeader.astro";
import Herosection from "../components/Herosection.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Venta de carros</title>
  </head>
  <body>
    <LandingHeader />
    <main>

		  <Herosection />	
    </main>
  </body>
</html>


<style>
	body {
		font-family: 'Acme', sans-serif;
	}
	
</style>